<h1>Listing desks（いちらんでっせ）</h1>

<table>
  <thead>
    <tr>
      <th>だれやねん？</th>
      <th>しつもんやねん</th>
      <th>いつやねん</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desks.each do |desk| %>
      <tr>
        <td><%= desk.who %></td>
        <td><%= desk.Q %></td>
        <td><%= desk.date %></td>
        <td><%= link_to 'みるで', desk %></td>
        <td><%= link_to 'なおしたいねんけど', edit_desk_path(desk) %></td>
        <td><%= link_to 'ですとろーい！！！', desk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'あたらしいしつもん', new_desk_path %>
