<h1><%= t('views.desk_title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.desk.who') %></th>
      <th><%= t('activerecord.attributes.desk.Q') %></th>
      <th><%= t('activerecord.attributes.desk.date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desks.each do |desk| %>
      <tr>
        <td><%= desk.who %></td>
        <td><%= desk.Q %></td>
        <td><%= desk.date %></td>
        <td><%= link_to 'Show', desk %></td>
        <td><%= link_to 'Edit', edit_desk_path(desk) %></td>
        <td><%= link_to 'Destroy', desk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desk', new_desk_path %>
