<h1><%= t('views.responses_list') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.response.responced_datetime') %></th>
      <th><%= t('activerecord.attributes.response.user_id') %></th>
      <th><%= t('activerecord.attributes.response.contents') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.responced_datetime %></td>
        <td><%= response.user %></td>
        <td><%= response.contents %></td>
        <td><%= link_to t('views.show'), response %></td>
        <td><%= link_to t('views.edit'), edit_response_path(response) %></td>
        <td><%= link_to t('views.destroy'), response, method: :delete, data: { confirm: t('messages.confirm_destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.response_create'), new_response_path %>
