

<p>
  <strong><%= t('activerecord.attributes.response.responced_datetime') %>:</strong>
  <%= @response.responced_datetime %>
</p>

<p>
  <strong><%= t('activerecord.attributes.response.user') %>:</strong>
  <%= @response.user %>
</p>

<p>
  <strong><%= t('activerecord.attributes.response.contents') %>:</strong>
  <%= @response.contents %>
</p>

<%= link_to t('views.edit'), edit_response_path(@response) %> |
<%= link_to t('views.back_to_list'), responses_path %>
